*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(images/tokyo.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.header img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    object-position:0 -8px;
}
.main{
    background-color:rgba( 0, 0, 0, 0.7);
    color: blue;
    text-align: center;
    border-radius: 20px;
    width:30%;
    height:60vh;
}